
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-size: 62.5%;
    --color-bg: #F7F7F7;
    --color-text-primary: #0F172A;
    --color-text-secundary: #D97706;
    --color-text-phone: #0369A1;
    --color-btn-primary-boder: #FCD34D;
    --color-btn-primary-hover:  #FCD34D;
    --color-btn-primary-text-hover: #581C87;
    --color-btn-secundario-boder: #581C87;
    --color-btn-secundario-text: #581C87;
    --color-btn-secundario-hover: #581C87;
    --color-btn-secundario-text-hover: #FCD34D;
    --color-circle-orange: #F59E0B;
    --color-circle-purple: #7E22CE;

}
body, button, input, label, h1, h2, h3, h5, h6, p, span{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: var(--color-text-primary);   
}

.body {
    background-color: var(--color-bg);
    max-width: 120rem;
    overflow-x: hidden; 
} 