/* Estilos gerais */
.services-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
  
.services-container {
    display: flex;
    width: 100%;
    padding: 1rem;
}
  
  .mobile-mockup {
    width: 40%;
    position: relative;
  }
  
  .mobile-mockup .mobile-mockup__mobile {
    position: relative;
    width: 38rem;
    height: 90rem;
    z-index: 1;
  }

  .mobile-mockup .mobile-mockup__frame4 {
    position: absolute;
    width: 18rem;
    top: 45.2%;
    left: 72%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 2;
  }
  
  .services-content {
    margin-top: 18rem;
    width: 60%;
  }

  .services-content h2 {
    margin: 1rem 0 2rem;
  }
  .services-content p {
    font-size: 1.3rem;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 10rem;
  }
  
  .service-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.8rem;
    margin-top: 1rem;
  }
  
  .service-item {
    padding: 1rem;
    border-radius: 8px;
  }
  
  .service-item h3 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.64rem;
    margin-bottom: 1rem;
  }
  
  .service-item p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.2rem;
  }
  